<div class="container channels">
  <div class="head">
    <div class="title">
      <h1 style="display: inline-block;">{channel}</h1>
      {subtitle}
    </div>
    <div>
      <div>
        <select name="sort" class="sort{sort}" oninput="channelSort()">
          <option value="date-a">Date (asc)</option>
          <option value="date-" selected>Date (desc)</option>
          <option value="search-a">Name (asc)</option>
          <option value="search-">Name (desc)</option>
          <option value="views-a">Views (asc)</option>
          <option value="views-">Views (desc)</option>
        </select>
        <input type="text" class="search" oninput="channelSearch()" placeholder="Search...">
      </div>
    </div>
  </div>
  {note}
  <div class="channels flex-grid">
    {cards}
  </div>
</div>