.rounded {
	border-radius: 5px; 
    overflow: hidden; 
}

.main.container {
  margin-top: 5em;
}

.downloadbtn {
  margin-bottom: 0.3em!important;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.hide {
  display: none!important;
}

.removedvideo {
  background-color: #ffb4df!important;
}

.thumbnail {
  min-height: 201px;
}
