.rounded {
	border-radius: 5px; 
    overflow: hidden; 
}

.main.container {
  margin-top: 5em;
}

.downloadbtn {
  margin-bottom: 0.3em!important;
}

.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.hide {
  display: none!important;
}

.removedvideo {
  background-color: #ffb4df!important;
}

.unlistedvideo {
    background-color: #fff1b4!important;
}

.removedvideo.unlistedvideo {
    background-color: #ffa1a1!important;
}

.thumbnail {
  min-height: min(12.6vw, 200px);
}

.comment p {
    margin-bottom: 0;
}

.comment .reply {
    margin-left: 24px;
}

.comment, .reply {
    margin-bottom: 10px;
}
